*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32,32,32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: blue;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
    border: 2px solid gray;
    background-image: url(".../images/background.png"),
    linear-gradient(45deg,rgb(8,8,8),#000);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.desc{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover{
    color: blue;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 25px;
    margin-top: 20px;
}
.about-title{
    text-align: center;
    padding-top: 20px;
}
.self{
    color:grey;
    font-size:24px;
    
    
}
.para{
    font-size: 18px;
   
    

}
.about-photo{
    margin-top: 20px;
}


.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    
}
.icon{
    width: 70px;
}
.bn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-desc{
    padding: 5px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.box-line{
    background-image: url(".../images/background.png"),
    linear-gradient(45deg,rgb(92, 91, 91),#000);
}
.box{
    margin-bottom: 20px;
}


